.title_area1{
    width: 100%; height: 55px;
    padding: 0 15px; box-sizing: border-box;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* title */
.title{
    display: flex;
    justify-content: center;
    align-items: center;
}
.title img{
    height: 25px;
    margin-right: 5px;
}
.title h2{
    font-size: 24px;
    font-weight: 600;
    color: #641b6e;
}

/* close */
.close {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.close img{
    height: 15px;
    margin-bottom: 5px;
}
.close p{
    font-size: 8px;
    font-family: 500;
    color: #641B6E;
}

/* form */
.form_area{
    padding: 0 15px; box-sizing: border-box;
    margin-top: 20px;
}
.form{width: 100%;}
.form > ul{
    display: flex;
    justify-content: space-between;
    height: 50vh;
    border: 1px solid #641B6E;
    border-radius: 2px;
    margin-bottom: 15px;
    position: relative;
    overflow: hidden;
}
.form > ul::before{
    content: '';
    position: absolute;
    top: 0; left: 50%;
    transform: translateX(-50%);
    width: 1px; height: 100%;
    background: #641B6E;
}
.form > ul > li{width: 50%; height: inherit;}
.form > ul > li > ul > li:first-child{
    padding: 7px 0; box-sizing: border-box;
    background: #641b6e;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
}
.form > ul > li > ul{height: inherit;}
.form > ul > li > ul > li:nth-child(2){
    height: calc(100% - 35px);
    padding: 10px 12px; box-sizing: border-box;
    overflow: scroll;
}
.form > ul > li > ul > li > ul > li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.form > ul > li > ul > li > ul > li:last-child{border: none;}
.form > ul > li > ul > li > ul > li p{
    font-size: 13px;
    font-weight: 500;
}
/* form checkbox */
.form > ul > li > ul > li > ul > li input{display: none;}
.form > ul > li > ul > li > ul > li label{
    width: 16px; height: 16px;
    border: 1px solid #641B6E;
    border-radius: 3px;
    cursor: pointer;
    position: relative;
}
.form > ul > li > ul > li > ul > li input + label::before{
    content: '';
    position: absolute;
}
.form > ul > li > ul > li > ul > li input:checked + label::before{
    content: '';
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    width: 100%; height: 100%;
    background-image: url(../../img/icon_check.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 12px;
    background-color: #641B6E;
}

/* btn_area */
.btn_area{
    display: flex;
    justify-content: end;
}
.btn_area button{
    display: block;
    padding: 7px 13px; box-sizing: border-box;
    margin-left: 5px;
    background: #641B6E;
    font-family: "Pretendard Variable", Pretendard, -apple-system;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 40px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}
.btn_area button:last-child{
    background: #fff;
    color: #000;
}